@model E_Learning_System.Models.User

@{
    ViewBag.Title = "TeacherDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .row {
        margin: 25px 100px;
    }

    label {
        margin-bottom: 10px;
    }
</style>

<div class="container p-md-4 p-sm-4">

    <h3 class="text-center">UPDATE TEACHER INFORMATION</h3>

    <div class="row">
        <div class="col-6">
            @Html.HiddenFor(x => x.Role_Id)
            @Html.HiddenFor(x => x.User_Id)
            @Html.LabelFor(x => x.User_Id, new { @Class = "text-center" })<br />
            @Html.TextBoxFor(x => x.User_Id, new { @Class = "form-control", disabled = "disabled", required = "required", style = "margin-top:10px;" })
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            @Html.LabelFor(x => x.User_Name, new { @Class = "text-center" })<br />
            @Html.TextBoxFor(x => x.User_Name, new { @Class = "form-control", placeholder = "Enter Teacher Name", required = "required", disabled = "disabled" })
            @Html.ValidationMessageFor(x => x.User_Name, null, new { style = "color:red" })
        </div>
        <div class="col-6">
            @Html.LabelFor(x => x.DOB, new { @Class = "text-center" })<br />
            @Html.TextBoxFor(x => x.DOB, "{0:yyyy-MM-dd}", new { @Class = "form-control", type = "date", required = "required", max = "2000-12-31", disabled = "disabled" })
            @Html.ValidationMessageFor(x => x.DOB, null, new { style = "color:red" })
        </div>
    </div>

    <div class="row">
        <div class="col">
            @Html.Label("Class", new { @Class = "text-center" })<br />
            @Html.DropDownListFor(model => model.Gender, ViewBag.Gender as SelectList, new { @class = "form-control", disabled = "disabled" })
            @*@Html.DropDownList("Class_Id", ViewBag.Class_Id as SelectList, '@Model.Class_Id', new { @class = "form-control", required = "required" })*@
        </div>
        <div class="col-6">
            @Html.LabelFor(x => x.Contact_No, new { @Class = "text-center" })<br />
            @Html.TextBoxFor(x => x.Contact_No, new { @Class = "form-control", type = "number", placeholder = "012345678", required = "required", disabled = "disabled" })
            @Html.ValidationMessageFor(x => x.Contact_No, null, new { style = "color:red" })
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            @Html.HiddenFor(x => x.Email)
            @Html.LabelFor(x => x.Email, new { @Class = "text-center" })<br />
            @Html.TextBoxFor(x => x.Email, new { @Class = "form-control", placeholder = "Enter Email", type = "email", required = "required", disabled = "disabled" })
            @Html.ValidationMessageFor(x => x.Email, null, new { style = "color:red" })
        </div>
        <div class="col-6">
            @Html.HiddenFor(x => x.Password)
            @Html.LabelFor(x => x.Password, new { @Class = "text-center" })<br />
            @Html.TextBoxFor(x => x.Password, new { @Class = "form-control", placeholder = "Enter Password", type = "Password", required = "required", disabled = "disabled" })
            @Html.ValidationMessageFor(x => x.Password, null, new { style = "color:red" })
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @Html.LabelFor(x => x.Address, new { @Class = "text-center" })<br />
            @Html.TextAreaFor(x => x.Address, new { @Class = "form-control", placeholder = "Enter Address", required = "required", disabled = "disabled" })
            @Html.ValidationMessageFor(x => x.Address, null, new { style = "color:red" })
        </div>
    </div>

    @*<div class="row">
            <div class="col">
                @Html.LabelFor(x => x.IsActive, new { @Class = "text-center", style = "margin-right:10px" })
                @Html.CheckBox("IsActive", Model.IsActive.HasValue ? Model.IsActive : false)
            </div>
        </div>*@

    <div class="row">
        <div class="col">
            <a href="/Admin/ViewTeachers">

                <input type="text" class="btn btn-outline-dark" value="Back" style="width:150px; float:right;" />
            </a>
        </div>
    </div>

</div>
